html {
  font-family: Arial, Helvetica, sans-serif;
}

table {
  table-layout: fixed;
  width: 96vw;
}

td > div {
  display: flex;
  align-items: center;
  overflow: hidden;
  height: 20vh;
  max-height: 20vh !important;
}

.single-div {
  width: 60vw;
  margin: 1rem auto 0;
  display: flex;
  position: relative;
}

.single-div h2 {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.big-media {
  width: 60vw;
}

.thumbnail {
  width: 80%;
}
