html {
  font-family: Arial, Helvetica, sans-serif;
}

.single-div {
  width: 60vw;
  margin: 1rem auto 0;
  display: flex;
  position: relative;
}

.single-div h2 {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.big-media {
  width: 60vw;
}

.thumbnail {
  width: 80%;
}
